
* {
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {

}

.name {
    background-color: #4aaaa5;
    color: #ffffff;

}

.nav {

}

